
on:
  push:
    branches:
      - main
jobs:
  Yak:
    runs-on: ubuntu-20.04
    steps:
    -
      name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    -
      name: Running Yak analysis
      uses: ./
      with:
        yak-arguments: '--config=.yak.yaml'

