
on:
  push:
    branches:
      - main
jobs:
  Yak:
    runs-on: ubuntu-20.04
    steps:
    -
      name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    -
      name: Running Yak analysis
      uses: ./
      with:
        yak-arguments: '--config=.yak.yaml'

